.case-list{
  display: grid;
  /* Define 4 columns: 2 parts for title, 2 for description, 1 for status, 1 for priority */
  grid-template-columns: 2fr 5fr 1fr 1fr; 
  gap: 1rem;
  padding: 12px;
  text-decoration: none;
  color: inherit;
  align-items: center;
}

.header {
  font-weight: bold;
  border-bottom: 2px solid #eee;
}

.row:hover {
  background-color: #f9f9f9;
}


.col {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}